.innholdsmeny {
  top: 1rem;
  position: sticky;
  display: flex;
  flex-direction: column;
  background-color: var(--navds-color-white);
  align-self: flex-start;
}

.lenke {
  margin-bottom: 0.5rem;
}
