.innholdsmeny {
  top: 1rem;
  position: sticky;
  display: flex;
  flex-direction: column;
  background-color: var(--navds-color-white);
  align-self: flex-start;
  padding: 1rem;
  margin: 0 2rem 2rem 0;
}

.tittel {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.lenke {
  border-top: 1px solid #eee;
  padding: 1rem;
  text-decoration-line: none;
}

@media (max-width: 768px) {
  .innholdsmeny {
    position: initial;
    align-self:center;
    width: 100%;
    margin: 0 0 1rem;
  }
}
