.eksternKontaktKort {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(38, 38, 38, 0.12),
    0 1px 3px rgba(38, 38, 38, 0.2);
  cursor: pointer;
  margin-right: 1rem;
  padding: 1rem;
  text-decoration: inherit;
  color: inherit;
}

.eksternKontaktKort:hover,
.eksternKontaktKort:focus {
  box-shadow: 0 0 0 2px #0067c5;
}

.heading {
  text-decoration: underline;
}

.eksternKontaktKort:hover .heading {
  text-decoration: none;
  color: var(--navds-color-text-link);
}
