.container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.innhold {
  display: flex;
  flex-direction: column;
}

.stegTitle {
  margin-top: 2rem;
}

.forlengeRegelverkAlert {
  margin-bottom: 2rem;
}

.nyePermitteringsreglerAlert {
  margin-bottom: 2rem;
}

.kalkulator {
  margin-top: 1.5rem;
}

.før1septemberTitle {
  margin-top: 2rem;
}

.ikkeOmfattetAvAvtalenAccordion {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.banner {
  background-color: var(--navds-color-blue-10);
  display: flex;
  width: 100%;
}

@media (max-width: 992px) {
  .container {
    flex-direction: column;
    padding: 1.5rem;
    width: 100%;
  }

    .permitteringsSide {
      flex-direction: column;
      align-items: center;
    }
  }

