.container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.innhold {
  display: flex;
  flex-direction: column;
}

.stegTitle {
  margin-top: 2rem;
}

.forlengeRegelverkAlert {
  margin-bottom: 2rem;
}

.forlengeDagpengeperioderAlert {
  margin-bottom: 2rem;
}

.kalkulator {
  margin-top: 1.5rem;
}

.før1septemberTitle {
  margin-top: 2rem;
}

.ikkeOmfattetAvAvtalenAccordion {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.banner {
  background-color: var(--navds-color-blue-10);
  display: flex;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 1rem;
  }

  .permitteringsSide {
    flex-direction: column;
    align-items: center;
  }

  .banner {
    padding-left: 1rem;
  }

  .innhold {
    width: 100%;
    padding: 0;
  }

}
