.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meldIfraKnapp {
  width: 10rem;
  display: flex;
  justify-content: center;
}

.stegTitle {
  margin-top: 2rem;
}

.varselfristAccordion {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.forlengeRegelverkAlert {
  margin-bottom: 2rem;
}

.nyePermitteringsreglerAlert {
  margin-bottom: 2rem;
}

.kalkulator {
  margin-top: 1.5rem;
}

.før1septemberTitle {
  margin-top: 2rem;
}

.ikkeOmfattetAvAvtalenAccordion {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
