.kopierLenke {
    font-size: .875rem;
    text-decoration: none;
    margin-bottom: .5rem;
}

.kopierLenkeIcon {
    height: 1rem;
    width: 1rem;
    margin-right: .5rem;
    margin-left: .5rem;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: .1s;
}