.kopierLenke {
  font-size: 0.875rem;
  text-decoration: none;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.kopierLenkeIcon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  transition-property: transform;
  transition-timing-function: ease-out;
  transition-duration: 0.1s;
}
