.container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.banner {
  background-color: var(--navds-color-blue-10);
  width: 100%;
}

.innhold {
  display: flex;
  flex-direction: column;
}

@media (max-width: 992px) {
  .container {
    flex-direction: column;
    padding: 1.5rem;
  }

  .omstillingsSide {
    flex-direction: column;
    align-items: center;
  }
}
  