.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.linkPanel {
  max-width: 30rem;
  margin: 1rem 1rem 5rem;
}

.banner {
  background-color: var(--navds-color-blue-10);
}

@media (max-width: 768px) {
  .banner {
    padding-left: 1rem;
  }
}
